[submodule "working-with-go"]
	path = working-with-go
	url = https://github.com/mkaz/working-with-go
[submodule "go-json-rest-examples"]
	path = go-json-rest-examples
	url = https://github.com/ant0ine/go-json-rest-examples